.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-inline: 80px;
  padding-block: 2vw;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 48px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.active {
  color: blue;
}

.nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 24px;
}

.login {
  color: black;
  text-decoration: none;
}

.signup {
  text-decoration: none;
}

.nav {
  position: relative;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
